@mixin large-screens {
  @media only screen and (min-width: 1441px) {
    @content;
  }
}

@mixin all-desktop {
  @media only screen and (min-width: 769px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 769px) and (max-width: 1440px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 768px) and (min-width: 426px) {
    @content;
  }
}

@mixin phone {
  @media only screen and (max-width: 425px) {
    @content;
  }
}

@mixin tablet-phone {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin media($max-width: false, $min-width: false) {
  @if ($max-width and $min-width) {
    @media only screen and (max-width: $max-width) and (min-width: $min-width) {
      @content;
    }
  } @else if ($max-width) {
    @media only screen and (max-width: $max-width) {
      @content;
    }
  } @else if ($min-width) {
    @media only screen and (min-width: $min-width) {
      @content;
    }
  }
}

@mixin title-gradient($color, $width: 10rem, $height: 1.1rem) {
  background-image: linear-gradient(to right, $color, $color 100%);
  background-position: 0 100%;
  background-size: $width $height;
  background-repeat: no-repeat;
}

@mixin button($color, $second-color) {
  background-color: $color;
  border-color: $color;
  color: $second-color;

  &:hover {
    background-color: $second-color;
    color: $color;
  }
}
