$font: 'Roboto', sans-serif;
$font-size: 18px;
$line-height: 24px;

$text-primary: rgba(0, 0, 0, 0.87);
$text-secondary: rgba(0, 0, 0, 0.54);
$h4-color: #00838f;

$logo-color: #302f2f;

$bg-page-color: #ffffff;
$bg-header-color: #e0f7fa;

$h1-line-color: #ffecb3;

$auth-btn-color: #ffa000;
$auth-btn-second-color: #fff;

$primary-light: #b2ebf2;
$accent-light: #f8bbd0;
$accent-dark: #ad1457;

$burger-menu-start-from: 980px;
