$font: 'Roboto', sans-serif;
$font-size: 18px;
$line-height: 24px;

$text-primary: rgba(0, 0, 0, 0.87);
$text-secondary: rgba(0, 0, 0, 0.54);

$logo-color: #302f2f;

$bg-page-color: #ffffff;
$bg-header-color: #b2ebf2;

$h1-line-color: #ffecb3;
