.dictionary__groups_list {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  list-style: none;
}
.dictionary__groups_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8.5em;
  height: 2em;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 0.65em;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.25s;
}
.dictionary__groups_item:nth-child(1) {
  background-color: #6DB4A7;
}
.dictionary__groups_item:nth-child(2) {
  background-color: #00A8FF;
}
.dictionary__groups_item:nth-child(3) {
  background-color: #C583FF;
}
.dictionary__groups_item:nth-child(4) {
  background-color: #FFB300;
}
.dictionary__groups_item:nth-child(5) {
  background-color: #B45A1B;
}
.dictionary__groups_item:nth-child(6) {
  background-color: #FF8374;
}
.dictionary__groups_item:hover {
  opacity: 1;
}
.dictionary__groups_item_active {
  opacity: 1;
}
.dictionary__words {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 2em;
}