* {
  font: {
    family: $font;
    size: $font-size;
    style: normal;
    weight: 400;
  }
}
html {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  line-height: $line-height;
  color: $text-primary;
  background-color: $light-color;
  height: 100%;
  min-width: $min-width;
  display: flex;
  flex-direction: column;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 2.7rem;
  line-height: 3.1rem;
  color: $text-primary;
  margin-top: 0;
  position: relative;
  z-index: 5;

  background-image: linear-gradient(to right, #ffecb3, #ffecb3 100%);
  background-position: 0 100%;
  background-size: 40% 20px;
  background-repeat: no-repeat;

  @include media(610px) {
    font-size: 2.3rem;
    line-height: 2.5rem;
  }
}

h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2.6rem;
  display: inline-block;
  color: $text-primary;
  margin-top: 0;
  margin-bottom: 4rem;

  @include title-gradient(#b2ebf2);
}

h4 {
  font-weight: 700;
  text-transform: uppercase;
  color: $primary-dark;
  margin-top: 0;

  @include phone {
    margin-bottom: 0.2rem;
  }
}
main {
  flex-grow: 1;
}
.inner-page {
  padding-top: 8rem;
}
.container {
  box-sizing: border-box;
  max-width: 1215px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2em;

  @include desktop {
    padding: 0 2em;
  }
  @include tablet {
    padding: 0 2em;
  }
  @include phone {
    padding: 0 1rem;
  }
}

.subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 2.4rem;
  color: $text-secondary;
  margin-bottom: 2rem;
}
.btn {
  cursor: pointer;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.16);
  border-radius: 0.6rem;
  border-style: solid;
  border-width: 0.1rem;
  font-style: normal;
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 0.9rem;
  text-align: center;
  text-transform: uppercase;
  padding: 0.5rem 1.2rem 0.3rem;

  &--orange {
    @include button($secondary-main, $light-color);
  }

  &--blue {
    @include button($primary-main, $light-color);

    @include media($min-width: 611px) {
      font-size: 1.5rem;
      padding: 1.2rem 1.5rem;
    }

    @include media(610px) {
      font-size: 1.2rem;
      padding: 1rem 1.2rem;
    }
  }

  &--yes {
    @include button($yes-color, $light-color);
  }

  &--no {
    @include button($no-color, $light-color);
  }

  &:disabled {
    color: $text-disabled;
    background-color: $light-color;
    border-color: $text-disabled;
    cursor: default;
  }
}

.noscroll {
  overflow: hidden;
}

.not-found-message {
  max-width: 30rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  &__btn {
    margin-top: 2rem;
  }
}
