* {
  font: {
    family: $font;
    size: $font-size;
    style: normal;
    weight: 400;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  line-height: $line-height;
  color: $text-primary;
  background-color: $bg-page-color;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: $text-primary;
  margin-top: 0;
  position: relative;

  // background-color: $h1-line-color;
  // background-size: 40% 1rem;
  // background-position: left bottom;

  // &::after {
  //   content: '';
  //   background-color: $h1-line-color;
  //   max-width: 40%;
  //   width: 100%;
  //   position: absolute;
  //   height: 1rem;
  //   left: 0;
  //   bottom: 0;
  // }
}
main {
  height: 100vh;
}
.container {
  box-sizing: border-box;
  max-width: 1215px;
  width: 100%;
  margin: 0 auto;

  @include desktop {
    padding: 0 2em;
  }
  @include tablet {
    margin: 0 2em;
  }
}

.subtitle {
  // font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  /* or 150% */

  color: $text-secondary;
}
