.dictionary {
  width: 100%;
}
.dictionary__groups_list {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  list-style: none;
}
.dictionary__groups_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.5em;
  height: 2em;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 0.65em;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.25s;
}
.dictionary__groups_item:nth-child(1) {
  background-color: #6DB4A7;
}
.dictionary__groups_item:nth-child(2) {
  background-color: #00A8FF;
}
.dictionary__groups_item:nth-child(3) {
  background-color: #C583FF;
}
.dictionary__groups_item:nth-child(4) {
  background-color: #FFB300;
}
.dictionary__groups_item:nth-child(5) {
  background-color: #B45A1B;
}
.dictionary__groups_item:nth-child(6) {
  background-color: #FF8374;
}
.dictionary__groups_item:hover {
  opacity: 1;
}
.dictionary__groups_item_active {
  opacity: 1;
  transform: scale(1.2);
}
.dictionary__extentions {
  display: flex;
  justify-content: space-between;
}
.dictionary__hardwords,
.dictionary__sprint,
.dictionary__audio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12em;
  height: 3em;
  color: #000000;
  background-image: url(../../assets/img/hard_words.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: left;
  cursor: pointer;
  transition: 0.25s;
}
.dictionary__hardwords:hover,
.dictionary__sprint:hover,
.dictionary__audio:hover {
  color: #ffa000;
}
.dictionary__sprint {
  background-image: url(../../assets/img/game_sprint.svg);
}
.dictionary__audio {
  background-image: url(../../assets/img/game_audio.svg);
}
.dictionary__games {
  display: flex;
}
.dictionary__words {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 2em;
}