.game {
  box-sizing: border-box;
  background-color: $secondary-light;
  max-width: 40rem;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 2rem;

  &__start {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__description {
    text-align: center;
    margin: 0 0 3rem;
  }

  &__levels {
    display: flex;
    margin-bottom: 4rem;
  }
  &__level {
    position: relative;
    border: solid 1px $secondary-dark;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;

    &--active {
      background-color: $accent-dark;
      color: $light-color;
    }

    &:hover,
    &:checked {
      background-color: $secondary-dark;
      cursor: pointer;
      box-shadow: 0 0 1rem $secondary-main;
      color: $light-color;
      transform: scale(1.1);
    }

    &:checked {
    }

    &--inp {
      position: absolute;
      left: 0;
      top: 0;
      width: 1px;
      height: 1px;
      opacity: 0;
    }
  }

  &__game {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__frame {
    box-sizing: border-box;
    width: 200px;
    height: 150px;
    background-color: $light-color;

    overflow: hidden;
  }

  &__words {
    display: flex;
    justify-content: flex-start;
    width: calc(200px * 20);
  }
  &__word {
    width: 200px;
    height: 150px;
    background-color: $accent-light;

    border-right: solid 1px red;

    &--active {
      transition: 100ms;
      /*width: 150px;
      height: 100px;*/
      // transform: translateX(0);
    }
  }
}
