$bg-width: 1510px;
$bg-height: 1200px;
$bg-color: #b2ebf2;

.hero {
  box-sizing: border-box;
  height: 835px;

  overflow: hidden;
  z-index: 5;
  position: relative;

  &::before {
    content: '';
    display: block;
    height: $bg-height;
    width: $bg-width;
    background-color: $bg-color;
    opacity: 0.4;
    mix-blend-mode: normal;
    border-radius: 4.4rem;
    transform: rotate(-10deg);
    position: absolute;
    left: calc((100vw - $bg-width) / 2);
    top: -27rem;
  }

  &__container {
    align-items: flex-start;
    position: relative;
    display: flex;

    justify-content: space-between;
    padding-top: 10rem;
  }
  &__content {
    max-width: 50%;
    min-width: 16rem;
  }

  &__text {
    font-style: normal;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 2.6rem;
    color: $text-secondary;
    margin-bottom: 2rem;

    @include media(1030px) {
      font-size: 1.5rem;
    }
  }

  &__img {
    position: relative;
    z-index: 2;
    width: 50%;
    height: 100%;
    background-color: red;

    &--img {
      position: absolute;
      right: -25%;

      @include media(1120px, 1001px) {
        right: -40%;
        top: 2rem;
      }
      @include media(1000px) {
        right: -55%;
        top: 2rem;
      }

      @include tablet {
        right: -106%;
      }
    }
  }
}
