#login-form {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: #0000002c;
  z-index: 100;

  #modal {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 50px);
    row-gap: 25px;
    width: 30%;
    // height: 30%;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    border: 1px solid #00bcd4;
    border-radius: 20px;
    padding: 70px;
    background: #ffffff;
    .button {
      justify-self: right;
    }
    button {
      margin-left: 10px;
    }
    button:hover {
      cursor: pointer;
    }
    input {
      width: 100%;
      border: none;
      font-size: 16px;
      font-weight: 400;
      padding: 0;
    }
    input:focus {
      background: none;
      border: none;
      outline: none;
    }
    input:hover {
      cursor: pointer;
    }
    .name,
    .email,
    .password {
      display: flex;
      flex-wrap: wrap;
      height: 47px;
      border: 1px solid #ffa000;
      border-radius: 8px;
      padding: 0 8px 0 8px;
      // align-items: center;
      font-size: 11px;

      .label {
        display: flex;
        width: 100%;
        color: #ffa000;
        font-size: 11px;

      }
      .input {
        display: flex;
        width: 100%;
        font-size: 16px;

      }
    }
    .name:hover,
    .email:hover,
    .password:hover {
      cursor: pointer;
    }
    .name[data-validate="false"],
    .email[data-validate="false"],
    .password[data-validate="false"] {
      border: 1px solid #ff0000;
      color: #ff0000;
    }
    .error {
      padding: 0 8px;
      color: #ff0000;
      font-size: 11px;
    }

    #registerLink {
      background-color: #ffffff;
      border: none;
      color: #00bcd4;
    }
    #login,
    #register,
    #close {
      height: 40px;
      // width: 160px;
      min-width: 120px;
      border: none;
      background: #00bcd4;
      border: 1px solid #00bcd4;
      border-radius: 10px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 700;
      box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.16);
    }
    #login:hover,
    #register:hover,
    #close:hover {
      background: #ffffff;
      color: #00bcd4;
    }
  }
}
